
/* 
=========== primary color variation ========
1. green {
    --firstColor:#26a69a;
    --background: #E8FAF8;
    --secBackground: #F4FDFC;
    --box-shadow: rgba(38, 166, 154, .4);
    --progressSubColor:rgba(38, 166, 154, .2);
}
2. puple {
    --firstColor:#a688fa;
    --background: #F7F4FF;
    --secBackground: #FDFDFF;
    --box-shadow: rgba(166, 136, 250, .4);
    --progressSubColor:rgba(166, 136, 250, .2);
}
3. orange {
    --firstColor:#f75833;
    --background: #FFEAE5;
    --secBackground: #F4F1F0;
    --box-shadow: rgba(247, 88, 51, .4);
    --progressSubColor:rgba(247, 88, 51, .2);
}
4. summer sky(blue) {
    --background: #EAF9FD;
    --secBackground: #F3FCFF;
    --firstColor: #19bde1;
    --box-shadow: rgba(25, 189, 225, .4);
    --progressSubColor:rgba(25, 189, 225, .2);  
}
6. green fern {
    --background: #F4FFF5;
    --secBackground: #FDFFFD;
    --firstColor: #66bb6a;
    --box-shadow: rgba(102, 187, 106, .4);
    --progressSubColor:rgba(102, 187, 106, .2);  
}
*/

/* ------------ root css --------- */
/* ========== ORGINAL ============ */
:root,  
[data-selected-theme="default-white"]{
    --firstColor:#D0637C;
    --secondColor:#DD868C;
    --background: #f5e5e7;
    --secBackground: #EDEEF3;
    --White: #F5F6F8;
    --Black: #202731;
    --whiteColor: #F5F6F8;
    --blackColor: #202731;
    --semiBlack: #4B5056 ;
    --tab-border: #cecccc;
    --box-shadow: rgba(208, 99, 124, .4);
    --progressSubColor:rgba(208,99,124, .2);    
}

[data-selected-theme="dark"]{
    --secondColor:#DD868C;
    --background: #121212;
    --secBackground: #18191a;
    --White: #f5f6f8;
    --darkWhite: #f5f6f8
    --Black: #202731;
    --whiteColor: #202731;
    --blackColor: #F5F6F8;
    --firstColor: #8d6e63;
    --box-shadow: rgba(141, 110, 99, .4);
    --progressSubColor:rgba(141, 110, 99, .2);
    --tab-border: #cecccc;
    
}
/* ===== dark theme for backup */
/* [data-selected-theme="dark"]{
    --secondColor:#DD868C;
    --background: #121212;
    --secBackground: #18191a;
    --White: #f5f6f8;
    --darkWhite: #f5f6f8
    --Black: #202731;
    --whiteColor: #202731;
    --blackColor: #F5F6F8;
    --firstColor: #8d6e63;
    --box-shadow: rgba(141, 110, 99, .4);
    --progressSubColor:rgba(141, 110, 99, .2);
    --tab-border: #cecccc;
    
} */

[data-selected-theme="green"]{
    --firstColor:#26a69a;
    --background: #E8FAF8;
    --secBackground: #F4FDFC;
    --box-shadow: rgba(38, 166, 154, .4);
    --progressSubColor:rgba(38, 166, 154, .2);
}
[data-selected-theme="purple"]{
    --firstColor:#a688fa;
    --background: #F7F4FF;
    --secBackground: #FDFDFF;
    --box-shadow: rgba(166, 136, 250, .4);
    --progressSubColor:rgba(166, 136, 250, .2);
}
[data-selected-theme="orange"]{
    --firstColor:#f75833;
    --background: #FFEAE5;
    --secBackground: #F4F1F0;
    --box-shadow: rgba(247, 88, 51, .4);
    --progressSubColor:rgba(247, 88, 51, .2);
}
[data-selected-theme="blue"]{
    --background: #EAF9FD;
    --secBackground: #F3FCFF;
    --firstColor: #19bde1;
    --box-shadow: rgba(25, 189, 225, .4);
    --progressSubColor:rgba(25, 189, 225, .2); 
}
[data-selected-theme="green-fern"]{
    --background: #F4FFF5;
    --secBackground: #FDFFFD;
    --firstColor: #66bb6a;
    --box-shadow: rgba(102, 187, 106, .4);
    --progressSubColor:rgba(102, 187, 106, .2); 
}

/* --------------- Base css ---------------- */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: var(--background);
    font-family:  "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
}
::selection{
    background: var(--firstColor);
    color: white;
}
input, textarea, button{
    outline: none;
    border: none;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img,svg{
    max-width: 100%;
    height: 100%;
}
section{
    padding: 80px 0;
}
.container{
    max-width: 1200px;
    margin: auto;
}

/*  ================ THEME SWITCHER ============== */
.themeSwitcher {
	width: 250px;
	height: auto;
	background: rebeccapurple;
	position: absolute;
	top: 130px;
	right: 0;
    z-index: 9;
}
.themeSetting{
    display: block;
    text-align: center;
    position: absolute;
    top: -8px;
    left: -50px;
    padding-left: 20px;
}
.themeSetting i{
    display: block;
    font-size: 36px;
    color: var(--White);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    backdrop-filter: blur(50px);
    border-radius: 25px 0 0 25px;
    padding-left: 20px;
}
.themeColor-box{}
.themeColor-box button{}

/* ============ HEADER CSS ================== */
#header{
    background: #EDEEF310;
    backdrop-filter: blur(1.25rem);
    padding: 1.25rem 0;
    position: fixed;
    width: 100%;
    z-index: 9;
}
.nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}
.nav .logo{
    width: 50%;
}
.nav .logo .navLogo {
    display: inline-block;
    color: var(--blackColor);
    font-weight: 600;
    font-size: 30px;
}
.nav .logo .navLogo span{
    color: var(--firstColor);
    font-weight: 600;
}
.navMenu{
    text-align: end;
}
.navMenu ul li{
    display: inline-block;
    padding-right: 1.25rem;
}
.navMenu ul li:last-child{
    padding-right: 0;
}
.navMenu ul li a{
    display: inline-block;
    color: var(--blackColor);
    font-weight: 600;
    text-transform: capitalize;
    transition: color .3s ease;
}
.navMenu ul li a:hover{
    color: var(--firstColor);
}
.navMenu li.active a{
    color: var(--firstColor) !important;
}

input[type="checkbox"]{
    visibility: none;
    opacity: 0;
    display: none;
	position: absolute;
	right: 0px;
	/* top: 25px; */
	width: 35px;
	height: 35px;
    z-index: 6;
    cursor: pointer;
}
.hambergerMenu {
	position: absolute;
	right: 0;
	top: 0;
	width: 35px;
	height: 35px;
    z-index: 5;
    cursor: pointer;
    /* border: 5px solid #D0637C; */
    display: none;
}
.hambergerMenu .hambIcon{
    position: absolute;
    left: 50%;
    width: 25px;
    height: 3px;
    border-radius: 50px;
    /* background: var(--firstColor); */
    background: var(--firstColor);
    cursor: pointer !important;
    transform: translate(-50%, -50%);
    transform-origin: center right;
    transition: all .3s linear;
}
.hambergerMenu .hambIcon.topLine{
    top: 25%;
}
.hambergerMenu .hambIcon.middleLine{
    top: 50%;
    transition: opacity .1s;
}
.hambergerMenu .hambIcon.endLine{
    top: 80%;
}
input[type="checkbox"]:checked ~ .hambergerMenu .topLine{
    transform: rotate(-45deg);
    left: -7px;
    top: 0px;
    width: 30px;
}
input[type="checkbox"]:checked ~ .hambergerMenu .middleLine{
    /* transform: translateX(1.25rem); */
    opacity: 0;
}
input[type="checkbox"]:checked ~ .hambergerMenu .endLine{
    transform: rotate(45deg);
    left: -7px;
    top: 21px;
    width: 30px;
}
input[type="checkbox"]:checked ~ .navMenu{
    right: 0;
}
/* =============== HERO SECTION ============== */
.heroSection{
    background: var(--background);
    width: 100%;
    height: 100dvh;
    padding-top: 130px;
}
.heroSection .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.heroContent{
    padding-right: 3.75rem;
}
.heroSubtitle{
    color: var(--blackColor);
    font-size: 25px;
    font-weight: 600;
}
.heroSubtitle span{
    color: var(--firstColor);
}
.heroTitle{
    color: var(--firstColor);
    font-size: 3.75rem;
    font-weight: 700;
}
.heroEducation{
    color: var(--blackColor);
    font-weight: 500;
    font-size: 1.25rem;
    padding-bottom: 1rem;
}
.heroDescription{
    color: var(--blackColor);
    font-size: 0.9375rem;
    padding-bottom: 1.2rem;
}
.Button {
    color: var(--White);
	font-size: 1rem;
	padding: 15px 25px;
	background: var(--firstColor);
	border-radius: 0.3125rem;
    filter: drop-shadow(0 8px 8px var(--box-shadow));
    transition: all 1s ease-in-out;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.flash::before{
    content: '';
    position: absolute;
    top: -1.25rem;left: -30px;
    width: 15px;
    height: 80px;
    background: var(--White);
    transform: skewX(155deg) translateX(0);
    transition: all .5s ease-in-out;
}
.flash:hover::before{
    transform:skewX(155deg) translateX(190px);
}
.heroSocial{
    padding-top: 2.5rem;
}
.heroSocial ul li{
    display: inline-block;
    padding-right: 1.25rem;
}
.heroSocial ul li a {
    display: inline-block;
	color: var(--White);
	font-size: 1.3rem;
    width: 35px;
    text-align: center;
	background: var(--firstColor);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	padding: 0.3125rem;
    filter: drop-shadow(0 18px 18px var(--box-shadow));
    transition: transform .3s ease-in-out;
}

.anim{
    animation: heroImgUpDown 2s infinite;
}
@keyframes heroImgUpDown {
    0%{
        transform: translateY(-8px);
    }
    50%{
        transform: translateY(8px);
    }
    100%{
        transform: translateY(-8px);
    }
}
.heroBlob{
    fill: var(--firstColor);
    filter: drop-shadow(0 18px 18px var(--box-shadow));
}


/* ============ ABOUT SECTION ========================== */
.aboutSection{
    background: var(--secBackground);
}
.aboutSection .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.75rem;
    align-items: center;
}
.aboutImg .aboutsvg {
	width: 512px;
}
.aboutImg .aboutsvg path{
    stroke: var(--firstColor);
}
.defaultTitleSection h4{    
    color: var(--blackColor);
    font-size: 1.0625rem;
    font-weight: 600;
}
.defaultTitleSection h4 span{
    color: var(--firstColor);
}
.defaultTitleSection h2{
    font-size: 40px;
    color: var(--blackColor);
    font-weight: 600;
    text-transform: capitalize;
}
.defaultTitleSection p{
    color: var(--blackColor);
    padding-bottom: 2.5rem;
}


/* ============== SKILL SECTION ============ */
.skillSection{
    background: var(--background);
}
.skillSection .container{
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    justify-content: center;
    align-items: center;
}
.tabSection {
    height: 100%;
	overflow: hidden;
    /* background-color: var(--secBackground); */
}
.tabMenu input{
    display: none;
}
.tabMenu nav label {
	display: inline-block;
	padding: 10px 1.25rem;
    color: var(--blackColor);
	background: var(--secBackground);
	margin-right: 1.25rem;
    border: 1px solid var(--tab-border);
    border-bottom: none;
	border-radius:15px 15px 0 0;
    cursor: pointer;
    transition: .3s linear;
}
.tabMenu nav label:hover{
    background: var(--firstColor);
    color: var(--White);
    border-color: var(--firstColor);
}
.tabMenu nav label:last-child{
    margin-right: 0;
}
#tab1:checked ~ nav label.tab1,
#tab2:checked ~ nav label.tab2{
    color: var(--White);
    background: var(--firstColor);
    border-color: transparent;
}

#tab2:checked ~ .tabContent-box .tabContent2,
#tab1:checked ~ .tabContent-box .tabContent1{
    display: block;
    animation: tabAnim .4s ease-in forwards;
}
@keyframes tabAnim {
    from{
        transform: translateX(100px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
    }
}

.tabContent-box {
	display: grid;
}
.tabContent1,
.tabContent2{
    display: none;
}

.tabContent-box{
	padding: 25px 0 50px 1.25rem;
	border: 1px solid;
    border-color: var(--tab-border) !important;
    border-top: 2px solid !important;
    border-top-color: var(--firstColor) !important;
}
.skillList{
    columns: 10px 2;
    column-gap: 1.25rem;
}
.skillList .listItem {
    color: var(--blackColor);
    font-size: 18px;
    font-weight: 500;
    line-height: 33px;
}
.skillList .listItem span{
    color: var(--firstColor);
    font-weight: 600;
    margin-right: 3px;
}

.progressItem{
    margin-bottom: 10px;
}
.progressItem span {
	display: block;
	margin-bottom: 10px;
    font-size: 1rem;
    color: var(--blackColor);
    font-weight: 500;
}
.progressBar {
	position: relative;
	width: 90%;
	height: 0.3125rem;
	background: var(--progressSubColor);
	border-radius: 0.3125rem;
}
.parcentage {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: var(--firstColor);
	border-radius: 0.3125rem;
}
.preg1 .parcentage {    
	width: 95%;
}
.preg2 .parcentage {    
	width: 90%;
}
.preg3 .parcentage {    
	width: 81%;
}
.preg4 .parcentage {    
	width: 92%;
}
.preg5 .parcentage {    
	width: 79%;
}
.preg6 .parcentage {    
	width: 89%;
}
.parcentText {
	position: absolute;
	right: 0;
	bottom: 10px;
	color: var(--blackColor);
    font-size: 1rem;
    font-weight: 400;
}


/* ======================== SERVICE SECTION =================== */
.serviceSection{
    background: var(--secBackground);
}
.serviceSection .defaultTitleSection {
	text-align: center;
}
.service-box {
    display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
	padding-top: 40px;
}
.serviceItem {
	color: var(--blackColor);
	background: var(--background);
	padding: 40px 30px;
	text-align: center;
	border-radius: 10px;
    position: relative;
    z-index: 1;
}
.serviceItem::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2%;
    background: var(--firstColor);
    border-radius: 10px;
    z-index: -1;
    transition: height .4s ease-in;
}
.serviceItem:hover::before{
    height: 100%;
}

.serviceItem .servIcon {
	font-size: 55px;
    color: var(--firstColor);
    transition: .4s ease-in;
}

.serviceItem .servTitle {
	font-size: 25px;
	font-weight: 600;
	padding: 8px 0 18px;    
    color: var(--blackColor);
    transition: .4s ease-in;
}
.serviceItem .servText{
    color: var(--blackColor);
    transition: .4s ease-in;
}
.serviceItem:hover .servIcon,
.serviceItem:hover .servTitle,
.serviceItem:hover .servText{
    color: var(--White);
}




/* ============ PROJECT ======== */
.projectSection{
    background: var(--background);
}
.projectSection .defaultTitleSection {
	text-align: center;
}
.project-box {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
	padding-top: 40px;
}
.projectItem{
    position: relative;
    border-radius: 10px;
}
.projectItem::before{
    content: '';
    position: absolute;
    bottom: 0;left: 0;
    width: 100%;
    height: 0%;
    border-radius: 10px;
    background: linear-gradient( transparent 0%, var(--firstColor)70%);
    transition: .4s ease-in;
}
.projectItem:hover::before{
    height: 100%;
}
.projectItem img{
    border-radius: 10px;
}
.projectInfo{
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%, 50px);
    width: 100%;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    transition: .4s ease-in;
}
.projectItem:hover .projectInfo{
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
}
.projectInfo .projectSubTitle{
    color: var(--White);
    font-size: 15px;
    font-weight: 400;
}
.projectInfo .projectTitle{
    color: var(--White);
    font-size: 25px;
    font-weight: 600;
}
.projectInfo .projectBtn{
    color: var(--White);
    font-size: 14px;
    font-weight: 500;
}

.projectInfo .projectBtn i{
    font-weight: 600;
}



/* ================= CONTACT SECTION =================== */
.contactSection{
    background: var(--secBackground);
}
.contactSection .defaultTitleSection{
    text-align: center;
}
.contactForm form {
	width: 600px;
	margin: auto;
    text-align: center;
    margin-top: 30px;
}
.contactForm form .inputGroup {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;
}
.inputName{
    position: relative;
}
.inputEmail{
    position: relative;
}
.contactForm form .inputGroup input {
	padding: 15px;
	font-size: 14px;
    width: 100%;
	border-radius: 8px;
    color: var(--blackColor);
    font-family:  "Poppins", sans-serif;
    background: var(--background);
    border: 1px solid var(--background);
    position: relative;
}
.inputGroup label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    cursor: text;
    color: var(--blackColor);
    font-size: 14px;
    padding: 0;
    opacity: 0.6;
    border-radius: 3px;
    transition: .3s ease-in;
}
form .inputGroup input:focus,
form .inputGroup input:valid{
    border: 1px solid var(--firstColor);
}
form .inputGroup input:focus ~ label,
form .inputGroup input:valid ~ label{
    top: 0;
    padding: 0px 10px;
    color: var(--White);
    background: var(--firstColor);
    opacity: 1;
}


.contactForm form textarea {
	width: 100%;
	padding: 15px;
	font-size: 14px;
	border-radius: 8px;
	resize: none;
    color: var(--blackColor);
    font-family:  "Poppins", sans-serif;
    background: var(--background);
    border: 1px solid var(--background);
}
.inputTextarea{
    position: relative;
	margin: 30px 0px;
}
.inputTextarea label{
    position: absolute;
    top: 8%;
    left: 15px;
    transform: translateY(-50%);
    cursor: text;
    color: var(--blackColor);
    font-size: 14px;
    padding: 0;
    opacity: 0.6;
    border-radius: 3px;
    transition: .3s ease-in;
}
form .inputTextarea textarea:focus,
form .inputTextarea textarea:valid{
    border: 1px solid var(--firstColor);
}
form .inputTextarea textarea:focus ~ label,
form .inputTextarea textarea:valid ~ label{
    top: 0;
    padding: 0px 10px;
    color: var(--White);
    background: var(--firstColor);
    opacity: 1;
}
.contactForm form button {
	text-align: center;
	font-size: 16px;
    font-weight: 600;
    font-family:  "Poppins", sans-serif;
}
.contactForm .flash:hover::before {
	transform: skewX(155deg) translateX(21.25rem);
}

/* ================= FOOTER SECTION ============== */
section.footerSection{
    padding: 30px;
    background: var(--background);
}
.footerContent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
.footerLogo a{
    font-size: 35px;
    font-weight: 600;
    color: var(--blackColor);
}
.footerLogo a span{
    color: var(--firstColor);
}
.footerLogo h3{
    font-size: 16px;
    font-weight: 600;
    color: var(--blackColor);
}
.footerIcon{
    text-align: center;
}
.footerIcon ul li{
    display: inline-block;
    padding-right: 1.25rem;
}
.footerIcon ul li a {
    display: inline-block;
	color: var(--White);
	font-size: 1.3rem;
    width: 35px;
    text-align: center;
	background: var(--firstColor);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	padding: 0.3125rem;
    filter: drop-shadow(0 18px 18px var(--box-shadow));
    transition: transform .3s ease-in-out;
}
.footerText p{
    text-align: right;
    color: var(--blackColor);
    font-size: 15px;
}
.footerText p span{
    color: var(--firstColor);
    font-weight: 600;
}